body {
  background-image: url('assets/destination/background-destination-desktop.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.topcontainer {
  justify-content: space-between;
  display: flex;
  padding-top: 40px;
  height: 96px;
  align-items: center;
}

.underline {
  width: 70px;
  height: 3px;
  left: 152px;
  top: 80px;
  background: #FFFFFF;
}

.home {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
  text-decoration: none;
  word-spacing: 12px;
}

.zerozero {
  padding-right: 11px;
}

.border {
  width: 80px;
  height: 3px;
  left: 693px;
  top: 133px;
  background: #FFFFFF;
}

.Destination {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
  text-decoration: none;
  word-spacing: 12px;
  border-bottom: solid;
}

.zeroone {
  padding-right: 11px;
}

.crew {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
  text-decoration: none;
  word-spacing: 12px;
}

.zerotwo {
  padding-right: 11px;
}

.tech {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
  text-decoration: none;
  word-spacing: 12px;
}

.zerothree {
  padding-right: 11px;
}

.logo {
  width: 48px;
  height: 48px;
  background: #0B0D17;
  padding-left: 55px;
}

.box-3 {
  right: 0;
  width: 830px;
  height: 96px;
}

.box-4 {
  justify-content: space-evenly;
  height: 100%;
  z-index: 3;
  width: 830px;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
}

.icon-menu {
  display: none;
}

.box-4>a {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

.rectangle {
  position: absolute;
  width: 473px;
  height: 1px;
  left: 167px;
  top: 88px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;
  z-index: 9;
}

.middlecontainer {
  display: flex;
  flex-direction: row;
  padding-top: 76px;
}

.number {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 4.725px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;
  padding-left: 38.5px;
  padding-right: 28px;
}

.pick {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.bottomcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
  padding-bottom: 112px;
  padding-top: 97px;
}

.left {
  display: flex;
}

.right {
  display: flex;
  flex-direction: column;
  width: 445px;
  height: 472px;
  padding-left: 157px;
}

.menuu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.moon {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
  border-bottom-style: solid;
  padding-bottom: 12px;
  text-decoration: none;
}

.mars {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #D0D6F9;
  text-decoration: none;
}

.Europa {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #D0D6F9;
  text-decoration: none;
}

.titan {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #D0D6F9;
  text-decoration: none;
}

.mooon {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 115px;
  color: #FFFFFF;
}

.textt {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* margin-block-start: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
margin-block-end: 1em; */
  color: #D0D6F9;
}

.line {
  display: flex;
  margin-top: 45px;
  width: 444px;
  height: 1px;
  background: #383B4B;
}

.bottomcontainer2 {
  display: flex;
  flex-direction: row;
}

.leftt {
  display: flex;
  flex-direction: column;
  padding-right: 79px;
}

.avg {
  height: 17px;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  color: #D0D6F9;
}

.km {
  height: 32px;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.rightt {
  display: flex;
  flex-direction: column;
}

.ett {
  height: 17px;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  color: #D0D6F9;
}

.class {
  height: 32px;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-image: url('assets/destination/background-destination-tablet.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
  }

  .logo {
    width: 48px;
    height: 48px;
    padding-left: 20px;
  }

  .topcontainer {
    padding-top: 0px;
    width: 100%;
    padding-left: 39px;
  }

  .icon-menu {
    display: none;
  }

  .rectangle {
    display: none;
  }

  .box-4 {
    width: 450px;
    height: 96px;
  }

  .zerozero {
    display: none;
  }

  .zeroone {
    display: none;
  }

  .zerotwo {
    display: none;
  }

  .zerothree {
    display: none;
  }

  .number {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 3.375px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
    padding-right: 19px;
  }

  .pick {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 3.375px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .menuu {
    justify-content: space-evenly;
  }

  .bottomcontainer {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }

  .right {
    padding-left: 0;
    padding-top: 53px;
  }

  .mooon {
    text-align: center;
  }

  .textt {
    font-size: 16px;
    text-align: center;
  }

  .bottomcontainer2 {
    justify-content: center;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    background-image: url('assets/destination/background-destination-mobile.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .topcontainer {
    width: 100%;
    padding-top: 10px;
  }

  .box-4 {
    display: none;
  }

  .logo {
    padding-left: 15px;
  }

  .icon-menu {
    display: block;
    padding-left: 50%;
    padding-right: 0px;
  }

  .rectangle {
    display: none;
  }

  .middlecontainer {
    display: flex;
    padding-top: 24px;
    text-align: center;
    width: 100%;
    justify-content: center;
  }

  .number {
    font-size: 16px;
  }

  .pick {
    font-size: 16px;
  }

  .bottomcontainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    width: 100%;
  }

  .left {
    width: 100%;
    justify-content: center;
    padding-bottom: 26px;
  }

  .right {
    width: 80%;
    padding-left: 0;
  }

  .moon-img {
    height: 170px;
    width: 170px;
  }

  .menuu {
    justify-content: space-evenly;
  }

  .mooon {
    text-align: center;
    font-size: 56px;
  }

  .textt {
    font-size: 15px;
    text-align: center;
    width: 100%;
  }

  .line {
    display: list-item;
    width: 100%;
  }

  .leftt {
    padding-right: 0px;
  }

  .bottomcontainer2 {
    flex-direction: column;
    padding-bottom: 40px;
    text-align: center;
  }
}
