body {
  background-image: url('assets/technology/background-technology-desktop.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  margin: 0;
}

.topcontainer {
  justify-content: space-between;
  display: flex;
  padding-top: 40px;
  height: 96px;
  align-items: center;
}

.underline {
  width: 70px;
  height: 3px;
  left: 152px;
  top: 80px;
  background: #FFFFFF;
}

.home {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
  text-decoration: none;
  word-spacing: 12px;
}

.zerozero {
  padding-right: 11px;
}

.border {
  width: 80px;
  height: 3px;
  left: 693px;
  top: 133px;
  background: #FFFFFF;
}

.Destination {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
  text-decoration: none;
  word-spacing: 12px;
}

.zeroone {
  padding-right: 11px;
}

.crew {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
  text-decoration: none;
  word-spacing: 12px;
}

.zerotwo {
  padding-right: 11px;
}

.tech {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
  text-decoration: none;
  word-spacing: 12px;
  border-bottom: solid;
}

.zerothree {
  padding-right: 11px;
}

.logo {
  width: 48px;
  height: 48px;
  padding-left: 55px;
}

.box-4 {
  justify-content: space-evenly;
  height: 100%;
  z-index: 3;
  width: 830px;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
}

.icon-menu {
  display: none;
}

.box-4>a {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

.rectangle {
  position: absolute;
  width: 473px;
  height: 1px;
  left: 167px;
  top: 88px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;
  z-index: 9;
}

.middlecontainer {
  display: flex;
  flex-direction: row;
  padding-top: 76px;
  padding-left: 120px;
}

.number {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 4.725px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;
  padding-left: 38.5px;
  padding-right: 28px;
}

.pick {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.bottomcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
}


.right {
  display: flex;
  flex-direction: column;
  /* padding-right: 131px; */
  padding-left: 130px;
  padding-top: 62px;
  padding-bottom: 101px;
  width: 100%;
}

.right2 {
  display: none;
}

.term {
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;

color: #D0D6F9;
}

.dh {
  padding-top: 15px;
  padding-bottom: 27px;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.textt {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #D0D6F9;
}

.menudots {
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-left: 165px;
  padding-right: 80px;
}

.dot3 {
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  border-radius: 80%;
  background: #FFFFFF;
  width: 80px;
  height: 80px;
  margin-right: 24px;
  mix-blend-mode: normal;
  font-family: 'Bellefair';
  text-decoration: none;
  color: #0B0D17;
  margin-bottom: 32px;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 2px;
  color: #0B0D17;
  text-decoration: none;

}


.dot2 {

  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  border-radius: 80px;
  width: 80px;
  height: 80px;
  margin-right: 24px;
  mix-blend-mode: normal;
opacity: 0.25;

border: 1px solid #FFFFFF;
margin-bottom: 32px;
font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;
text-align: center;
letter-spacing: 2px;
text-decoration: none;
color: #FFFFFF;
}

.dot1 {
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  border-radius: 80px;
  width: 80px;
  height: 80px;
  margin-right: 24px;
  mix-blend-mode: normal;
opacity: 0.25;
border: 1px solid #FFFFFF;
margin-bottom: 32px;
font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;
text-align: center;
letter-spacing: 2px;
text-decoration: none;
color: #FFFFFF;
}
.menudotss {
  display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-image: url('assets/technology/background-technology-tablet.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
  }

  .logo {
    width: 48px;
    height: 48px;
    padding-left: 20px;
  }

  .topcontainer {
    padding: 0;
    width: 100%;
  }

  .icon-menu {
    display: none;
  }

  .rectangle {
    display: none;
  }

  .box-4 {
    width: 450px;
    height: 96px;
  }

  .zerozero {
    display: none;
  }

  .zeroone {
    display: none;
  }

  .zerotwo {
    display: none;
  }

  .zerothree {
    display: none;
  }

  .middlecontainer {
    padding-left: 0;
    padding-top: 40px;
  }

  .number {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 3.375px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
    padding-right: 19px;
  }

  .pick {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 3.375px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .bottomcontainer {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 60px;
    text-align: center;
  }

  .dh {
    font-size: 40px;
    padding-bottom: 16px;
  }

  .right {
    display: none;
  }

  .right2{
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .textt {
    justify-content: center;
    font-size: 16px;
    text-align: center;
    padding-bottom: 97px;
    padding-left: 155px;
    padding-right: 155px;
  }

  .menudots {
    display: none;
  }
  .menudotss {
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding-top: 56px;
    padding-bottom: 44px;
  }
  .dot33 {
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 60%;
    background: #FFFFFF;
    width: 60px;
    height: 60px;
    margin-right: 24px;
    mix-blend-mode: normal;
    font-family: 'Bellefair';
    text-decoration: none;
    color: #0B0D17;
    margin-bottom: 32px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
    color: #0B0D17;

  }


  .dot22 {
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 60%;
    width: 60px;
    height: 60px;
    margin-right: 24px;
    mix-blend-mode: normal;
  opacity: 0.25;

  border: 1px solid #FFFFFF;
  margin-bottom: 32px;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  color: #FFFFFF;
  }

  .dot11 {
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 60%;

    width: 60px;
    height: 60px;
    margin-right: 24px;
    mix-blend-mode: normal;
  opacity: 0.25;
  border: 1px solid #FFFFFF;
  margin-bottom: 32px;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  color: #FFFFFF;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    background-image: url('assets/technology/background-technology-mobile.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .topcontainer {
    width: 100%;
    padding-top: 10px;
  }

  .box-4 {
    display: none;
  }

  .logo {
    padding-left: 15px;
  }

  .icon-menu {
    display: block;
    padding-left: 50%;
    padding-right: 5%;
  }

  .rectangle {
    display: none;
  }

  .middlecontainer {
    display: flex;
    padding: 0;
    text-align: center;
    width: 100%;
    justify-content: center;
  }

  .number {
    font-size: 16px;
  }

  .pick {
    font-size: 16px;
  }

  .bottomcontainer {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0;
    width: 100%;
  }


  .right {
    display: none;
  }

  .right2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .textt {
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding-bottom: 56px;
  }

  .dh {
    font-size: 24px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
  }

  .term {
    font-size: 16px;
    text-align: center;
    font-size: 14px;
  }

  .menudots {
    display: none;
  }

  .menudotss {
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding-top: 34px;
    padding-bottom: 26px;
  }
  .dot11 {
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-right: 24px;
    mix-blend-mode: normal;
    opacity: 0.25;
    border: 1px solid #FFFFFF;
    margin-bottom: 32px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    color: #FFFFFF;

  }


  .dot22 {
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-right: 24px;
    mix-blend-mode: normal;
  opacity: 0.25;

  border: 1px solid #FFFFFF;
  margin-bottom: 32px;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  color: #FFFFFF;
  }

  .dot33 {
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 100%;
    background: #FFFFFF;
    width: 40px;
    height: 40px;
    margin-right: 24px;
    mix-blend-mode: normal;
    font-family: 'Bellefair';
    text-decoration: none;
    color: #0B0D17;
    margin-bottom: 32px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 37px;
    letter-spacing: 2px;
    color: #0B0D17;
  }


}

#mobile-menu-container {
  display: none;
  background: rgba(255, 255, 255, 0.04);
backdrop-filter: blur(81.5485px);
  z-index: 9999;
  position: absolute;
  width: 70%;
  right: 0;
  height: 100%;
  top: 0;
}

.mobile-menu-icon-close {
  margin-left: 90%;
margin-top: 5%;
margin-right: 5%;
background-color: rgba(255, 255, 255, 0.04);
color: white;
    border-radius: 50%;
    border-color: rgba(255, 255, 255, 0.04);
    font-size: 19px;
}

.mobile-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.home-mobile {
text-decoration: none;
font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;

color: #FFFFFF;

}

.zerozero00 {
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;

color: #FFFFFF;

}

.destination-mobile {
  text-decoration: none;
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;

color: #FFFFFF;

}

.zeroone01 {
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;

color: #FFFFFF;

}

.crew-mobile {
  text-decoration: none;
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;

color: #FFFFFF;
}

.zerotwo02 {
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;

color: #FFFFFF;
}

.technology-mobile {
  text-decoration: none;
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;

color: #FFFFFF;
}

.zerothree03 {
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;

color: #FFFFFF;
}

.li1 {
  padding-bottom: 32px;
  padding-top: 118px;
}

.li2 {
  padding-bottom: 32px;

}

.li3 {
  padding-bottom: 32px;

}

.li4 {
  padding-bottom: 32px;

}
